In [5]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv("bmw_price_train_data.csv")

# select_category is always categorical
select_category = ["model"] #Maximum 1 

# select_sub_category is always categorical
select_sub_categiory = ["transmission"]   #Maximum 1

# y are always numeric
select_series = ["mileage","mpg"]     # y is always numeric
operation = "sum"    # defult is count and user can't select operation without selecting the select_series
##########################

#####   process ##############
if len(select_series) < 1:
    output = pd.DataFrame(df[select_category+select_sub_categiory].value_counts())
    output = output.rename(columns={0:"select_series"})
    output = output.reset_index()
    display(output)

    if len(select_sub_categiory)>0:
      output = pd.pivot_table(output, index=select_category, columns=select_sub_categiory, values="select_series", aggfunc="sum")
      # output.columns = output.columns.map(lambda x: '_'.join([str(i) for i in x]))
      output = output.reset_index()
      display(output)
else:
  output = df[select_category+select_sub_categiory+select_series]
  output = pd.pivot_table(output, index=select_category, columns=select_sub_categiory, values=select_series, aggfunc=operation)
  # output.columns = output.columns.map(lambda x: '_'.join([str(i) for i in x]))
  output = output.reset_index()
  display(output)

                  model   mileage                           mpg           \
transmission            Automatic    Manual Semi-Auto Automatic   Manual
0              1 Series   7909532  29499764   8801458   16221.7  57324.1
1              2 Series   5159425   7857295   6210601   17442.5  21635.0
2              3 Series  24685179  19218656  20763281   42229.3  25697.8
3              4 Series   8459025   4054451   6973960   18260.3   6448.0
4              5 Series  15936394   2013049   9179497   26040.5   1588.6


transmission Semi-Auto
0              26144.6
1              26227.4
2              58307.3
3              27552.3
4              32104.4