In [1]:
import pandas as pd
pokemon = pd.read_csv("pokemon.csv")
print(pokemon)

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [2]:
pokemon_index = pd.read_csv("pokemon.csv", index_col = "Pokemon")
print(pokemon_index)

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [3]:
pokemon_squeeze = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)
print(pokemon_squeeze)

Pokemon
Bulbasaur      Grass / Poison
Ivysaur        Grass / Poison
Venusaur       Grass / Poison
Charmander               Fire
Charmeleon               Fire
                    ...
Stakataka        Rock / Steel
Blacephalon      Fire / Ghost
Zeraora              Electric
Meltan                  Steel
Melmetal                Steel
Name: Type, Length: 809, dtype: object

/tmp/ipykernel_16947/1622626660.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  pokemon_squeeze = pd.read_csv("pokemon.csv", index_col = "Pokemon", squeeze = True)

In [4]:
google_stock = pd.read_csv("google_stocks.csv").head()
print(google_stock)

         Date  Close
0  2004-08-19  49.98
1  2004-08-20  53.95
2  2004-08-23  54.50
3  2004-08-24  52.24
4  2004-08-25  52.80

In [5]:
google_stock_parse = pd.read_csv("google_stocks.csv", parse_dates = ["Date"]).head()
print(google_stock_parse)

        Date  Close
0 2004-08-19  49.98
1 2004-08-20  53.95
2 2004-08-23  54.50
3 2004-08-24  52.24
4 2004-08-25  52.80

In [6]:
google_stock_parse_squeeze = pd.read_csv(
            "google_stocks.csv",
            parse_dates = ["Date"],
            index_col = "Date",
            squeeze = True
        ).head()
print(google_stock_parse_squeeze)

Date
2004-08-19    49.98
2004-08-20    53.95
2004-08-23    54.50
2004-08-24    52.24
2004-08-25    52.80
Name: Close, dtype: float64

/tmp/ipykernel_16947/1465893938.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google_stock_parse_squeeze = pd.read_csv(

In [7]:
revolutionary = pd.read_csv("revolutionary_war.csv").tail()
print(revolutionary)

                         Battle  Start Date     State
227         Siege of Fort Henry   9/11/1782  Virginia
228  Grand Assault on Gibraltar   9/13/1782       NaN
229   Action of 18 October 1782  10/18/1782       NaN
230   Action of 6 December 1782   12/6/1782       NaN
231   Action of 22 January 1783   1/22/1783  Virginia

In [8]:
revolutionary_parse = pd.read_csv( "revolutionary_war.csv", index_col = "Start Date", parse_dates = ["Start Date"],).tail()
print(revolutionary_parse)

                                Battle     State
Start Date
1782-09-11         Siege of Fort Henry  Virginia
1782-09-13  Grand Assault on Gibraltar       NaN
1782-10-18   Action of 18 October 1782       NaN
1782-12-06   Action of 6 December 1782       NaN
1783-01-22   Action of 22 January 1783  Virginia

In [9]:
usecols = pd.read_csv("revolutionary_war.csv", index_col = "Start Date", parse_dates = ["Start Date"], usecols = ["State", "Start Date"], squeeze = True).tail()
print(usecols)

Start Date
1782-09-11    Virginia
1782-09-13         NaN
1782-10-18         NaN
1782-12-06         NaN
1783-01-22    Virginia
Name: State, dtype: object

/tmp/ipykernel_16947/2330768493.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  usecols = pd.read_csv("revolutionary_war.csv", index_col = "Start Date", parse_dates = ["Start Date"], usecols = ["State", "Start Date"], squeeze = True).tail()

In [11]:
google = pd.read_csv(
 "google_stocks.csv",
 parse_dates = ["Date"],
 index_col = "Date",
 squeeze = True
 )
print(google.sort_values())

Date
2004-09-03      49.82
2004-09-01      49.94
2004-08-19      49.98
2004-09-02      50.57
2004-09-07      50.60
               ...
2019-04-23    1264.55
2019-10-25    1265.13
2018-07-26    1268.33
2019-04-26    1272.18
2019-04-29    1287.58
Name: Close, Length: 3824, dtype: float64

/tmp/ipykernel_16947/4160988705.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  google = pd.read_csv(

In [12]:
print( google.sort_values(ascending = False).head())

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [13]:
battles = pd.read_csv(
 "revolutionary_war.csv",
 index_col = "Start Date",
 parse_dates = ["Start Date"],
 usecols = ["State", "Start Date"],
 squeeze = True
 )
print(battles.sort_values())

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1782-08-08            NaN
1782-08-25            NaN
1782-09-13            NaN
1782-10-18            NaN
1782-12-06            NaN
Name: State, Length: 232, dtype: object

/tmp/ipykernel_16947/3762869826.py:1: FutureWarning: The squeeze argument has been deprecated and will be removed in a future version. Append .squeeze("columns") to the call to squeeze.


  battles = pd.read_csv(

In [14]:
battles.sort_values(na_position = "first")

Start Date
1775-09-17         NaN
1775-12-31         NaN
1776-03-03         NaN
1776-03-25         NaN
1776-05-18         NaN
                ...
1781-07-06    Virginia
1781-07-01    Virginia
1781-06-26    Virginia
1781-04-25    Virginia
1783-01-22    Virginia
Name: State, Length: 232, dtype: object

In [15]:
print(battles.dropna().sort_values())

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
                 ...
1781-07-06       Virginia
1781-07-01       Virginia
1781-06-26       Virginia
1781-04-25       Virginia
1783-01-22       Virginia
Name: State, Length: 162, dtype: object

In [16]:
print(pokemon.sort_index())

         Pokemon            Type
0      Bulbasaur  Grass / Poison
1        Ivysaur  Grass / Poison
2       Venusaur  Grass / Poison
3     Charmander            Fire
4     Charmeleon            Fire
..           ...             ...
804    Stakataka    Rock / Steel
805  Blacephalon    Fire / Ghost
806      Zeraora        Electric
807       Meltan           Steel
808     Melmetal           Steel

[809 rows x 2 columns]

In [18]:
print(pokemon.sort_index(ascending = False))

         Pokemon            Type
808     Melmetal           Steel
807       Meltan           Steel
806      Zeraora        Electric
805  Blacephalon    Fire / Ghost
804    Stakataka    Rock / Steel
..           ...             ...
4     Charmeleon            Fire
3     Charmander            Fire
2       Venusaur  Grass / Poison
1        Ivysaur  Grass / Poison
0      Bulbasaur  Grass / Poison

[809 rows x 2 columns]

In [19]:
print(battles.sort_index())

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
                  ...
1783-01-22         Virginia
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
Name: State, Length: 232, dtype: object

In [21]:
# print(google.nlargest(n = 5))
print(google.nlargest())

Date
2019-04-29    1287.58
2019-04-26    1272.18
2018-07-26    1268.33
2019-10-25    1265.13
2019-04-23    1264.55
Name: Close, dtype: float64

In [22]:
# print(google.nsmallest(n = 5))
print(google.nsmallest())

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

In [24]:
print(pokemon.value_counts())

Pokemon    Type
Abomasnow  Grass / Ice        1
Purugly    Normal             1
Porygon-Z  Normal             1
Porygon2   Normal             1
Primarina  Water / Fairy      1
                             ..
Graveler   Rock / Ground      1
Greninja   Water / Dark       1
Grimer     Poison             1
Grotle     Grass              1
Zygarde    Dragon / Ground    1
Length: 809, dtype: int64

In [25]:
len(pokemon.value_counts())

809

In [26]:
 pokemon.nunique()

Pokemon    809
Type       159
dtype: int64

In [27]:
pokemon.value_counts(normalize = True).head()

Pokemon    Type
Abomasnow  Grass / Ice      0.001236
Purugly    Normal           0.001236
Porygon-Z  Normal           0.001236
Porygon2   Normal           0.001236
Primarina  Water / Fairy    0.001236
dtype: float64

In [28]:
pokemon.value_counts(normalize = True).head() * 100

Pokemon    Type
Abomasnow  Grass / Ice      0.123609
Purugly    Normal           0.123609
Porygon-Z  Normal           0.123609
Porygon2   Normal           0.123609
Primarina  Water / Fairy    0.123609
dtype: float64

In [29]:
(pokemon.value_counts(normalize = True) * 100).round(2)

Pokemon    Type
Abomasnow  Grass / Ice        0.12
Purugly    Normal             0.12
Porygon-Z  Normal             0.12
Porygon2   Normal             0.12
Primarina  Water / Fairy      0.12
                              ...
Graveler   Rock / Ground      0.12
Greninja   Water / Dark       0.12
Grimer     Poison             0.12
Grotle     Grass              0.12
Zygarde    Dragon / Ground    0.12
Length: 809, dtype: float64

In [30]:
# google.apply(func = round)
google.apply(round)

Date
2004-08-19      50
2004-08-20      54
2004-08-23      54
2004-08-24      52
2004-08-25      53
              ...
2019-10-21    1246
2019-10-22    1243
2019-10-23    1259
2019-10-24    1261
2019-10-25    1265
Name: Close, Length: 3824, dtype: int64

In [31]:
def single_or_multi(pokemon_type):
    if "/" in pokemon_type:
        return "Multi"
    return "Single"
pokemon.head(4)

      Pokemon            Type
0   Bulbasaur  Grass / Poison
1     Ivysaur  Grass / Poison
2    Venusaur  Grass / Poison
3  Charmander            Fire

In [32]:
pokemon.apply(single_or_multi)

Pokemon    Single
Type       Single
dtype: object