In [2]:
import pandas as pd
import numpy as np
print(pd.Series([],dtype=pd.StringDtype()))

Series([], dtype: string)

In [7]:
ice_cream_flavors = [
            "Chocolate",
            "Vanilla",
            "Strawberry",
            "Rum Raisin",
        ]
print(pd.Series(data=ice_cream_flavors))

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [8]:
ice_cream_flavors = [
            "Chocolate",
            "Vanilla",
            "Strawberry",
            "Rum Raisin",
        ]
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")
#pd.Series(ice_cream_flavors, days_of_week)
print(pd.Series(data=ice_cream_flavors, index = days_of_week))

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [9]:
temperatures = [94, 88, np.nan, 91]
print(pd.Series(data = temperatures))

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

In [10]:
calorie_info = {
             "Cereal": 125,
             "Chocolate Bar": 406,
             "Ice Cream Sundae": 342,
         }
print(pd.Series(data = calorie_info))

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [11]:
print(pd.Series(data = ("Red", "Green", "Blue")))

0      Red
1    Green
2     Blue
dtype: object

In [12]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
print(pd.Series(data = rgb_colors))

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [15]:
my_set = {"Ricky", "Bobby"}
print(pd.Series(list(my_set)))

0    Ricky
1    Bobby
dtype: object

In [16]:
random_data = np.random.randint(1, 101, 10)
print(random_data)

[99  4 69 46  7 63 63 46 66 27]

In [17]:
print(pd.Series(random_data))

0    99
1     4
2    69
3    46
4     7
5    63
6    63
7    46
8    66
9    27
dtype: int64

In [32]:
calorie_info = {
             "Cereal": 125,
             "Chocolate Bar": 406,
             "Ice Cream Sundae": 342,
         }
 
diet = pd.Series(calorie_info)
print(diet.values)
print(type(diet.values))
print(diet.index)
print(type(diet.index))
print(diet.dtype)
print(diet.size)
print(diet.shape)
print(diet.is_unique)
print(pd.Series(data = [3, 3]).is_unique)
print(pd.Series(data = [1, 3, 6]).is_monotonic)
print(pd.Series(data = [1, 6, 3]).is_monotonic)

[125 406 342]
<class 'numpy.ndarray'>
Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')
<class 'pandas.core.indexes.base.Index'>
int64
3
(3,)
True
False
True
False

/tmp/ipykernel_8527/300933717.py:17: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  print(pd.Series(data = [1, 3, 6]).is_monotonic)
/tmp/ipykernel_8527/300933717.py:18: FutureWarning: is_monotonic is deprecated and will be removed in a future version. Use is_monotonic_increasing instead.
  print(pd.Series(data = [1, 6, 3]).is_monotonic)

In [4]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
print(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [5]:
print(numbers.count())

5

In [6]:
print(numbers.sum())

15.0

In [7]:
print(numbers.sum(skipna = False))

nan

In [8]:
print(numbers.sum(min_count = 3))

15.0

In [9]:
print(numbers.product())

120.0

In [10]:
print(numbers.cumsum())

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [11]:
print(numbers.pct_change())

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [12]:
print(numbers.mean())
print(numbers.median())
print(numbers.std())

3.0
3.0
1.5811388300841898

In [13]:
print(numbers.max())
print(numbers.min())

5.0
1.0

In [14]:
animals = pd.Series(["koala", "aardvark", "zebra"])
print(animals)

0       koala
1    aardvark
2       zebra
dtype: object

In [15]:
print(animals.max())
print(animals.min())

zebra
aardvark

In [16]:
print(numbers.describe())

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [17]:
print(numbers.sample(3))

3    NaN
5    5.0
2    3.0
dtype: float64

In [18]:
authors = pd.Series(
             ["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
         )
print(authors.unique())

['Hemingway' 'Orwell' 'Dostoevsky' 'Fitzgerald']

In [19]:
print(authors.nunique())

4

In [20]:
superheroes = [
             "Batman",
             "Superman",
             "Spider-Man",
             "Iron Man",
             "Captain America",
             "Wonder Woman"
         ]
strength_levels = (100, 120, 90, 95, 110, 120)
heroes = pd.Series(
             data = strength_levels, index = superheroes
         )
print(heroes)

Batman             100
Superman           120
Spider-Man          90
Iron Man            95
Captain America    110
Wonder Woman       120
dtype: int64