In [1]:
import pandas as pd

In [35]:
df = pd.read_csv("movies.csv", index_col="Title")
#print(df.info)
print(df.describe())

       Audience score %  Profitability  Rotten Tomatoes %         Year
count         77.000000      77.000000          77.000000    77.000000
mean          63.727273       4.599483          46.701299  2009.077922
std           13.657113       8.031990          26.095001     1.354974
min           35.000000       0.000000           3.000000  2007.000000
25%           52.000000       1.751351          26.000000  2008.000000
50%           64.000000       2.642353          45.000000  2009.000000
75%           76.000000       5.103117          64.000000  2010.000000
max           89.000000      66.934000          96.000000  2011.000000

In [36]:
print(df.head(4))

                                      Genre            Lead Studio  \
Title
Zack and Miri Make a Porno          Romance  The Weinstein Company
Youth in Revolt                      Comedy  The Weinstein Company
You Will Meet a Tall Dark Stranger   Comedy            Independent
When in Rome                         Comedy                 Disney

                                    Audience score %  Profitability  \
Title
Zack and Miri Make a Porno                        70       1.747542
Youth in Revolt                                   52       1.090000
You Will Meet a Tall Dark Stranger                35       1.211818
When in Rome                                      44       0.000000

                                    Rotten Tomatoes % Worldwide Gross  Year
Title
Zack and Miri Make a Porno                         64         $41.94   2008
Youth in Revolt                                    68         $19.62   2010
You Will Meet a Tall Dark Stranger                 43         $26.66   2010
When in Rome                                       15         $43.04   2010

In [13]:
print(df.tail(2))

                   Title   Genre Lead Studio  Audience score %  Profitability  \
75            27 Dresses  Comedy         Fox                71       5.343622
76  (500) Days of Summer  comedy         Fox                81       8.096000

    Rotten Tomatoes % Worldwide Gross  Year
75                 40        $160.31   2008
76                 87         $60.72   2009

In [14]:
print(len(df))

77

In [15]:
print(df.shape)

(77, 8)

In [17]:
print(df.size)

616

In [18]:
print(df.dtypes)

Title                 object
Genre                 object
Lead Studio           object
Audience score %       int64
Profitability        float64
Rotten Tomatoes %      int64
Worldwide Gross       object
Year                   int64
dtype: object

In [25]:
print(df.iloc[1])

Title                      Youth in Revolt
Genre                               Comedy
Lead Studio          The Weinstein Company
Audience score %                        52
Profitability                         1.09
Rotten Tomatoes %                       68
Worldwide Gross                    $19.62
Year                                  2010
Name: 1, dtype: object

In [29]:
df.columns.tolist()

['Title',
 'Genre',
 'Lead Studio',
 'Audience score %',
 'Profitability',
 'Rotten Tomatoes %',
 'Worldwide Gross',
 'Year']

In [32]:
print(df['Title'].head(5))

0            Zack and Miri Make a Porno
1                       Youth in Revolt
2    You Will Meet a Tall Dark Stranger
3                          When in Rome
4                 What Happens in Vegas
Name: Title, dtype: object

In [38]:
df1 = pd.read_csv("movies.csv", index_col="Title")
print(df1.loc["Waitress"])

Genre                    Romance
Lead Studio          Independent
Audience score %              67
Profitability          11.089742
Rotten Tomatoes %             89
Worldwide Gross          $22.18
Year                        2007
Name: Waitress, dtype: object

In [41]:
print(df1.sort_values(by="Year", ascending = False).head(4))

                           Genre       Lead Studio  Audience score %  \
Title
New Year's Eve           Romance      Warner Bros.                48
Twilight: Breaking Dawn  Romance       Independent                68
Monte Carlo              Romance  20th Century Fox                50
Midnight in Paris        Romence              Sony                84

                         Profitability  Rotten Tomatoes % Worldwide Gross  \
Title
New Year's Eve                2.536429                  8        $142.04
Twilight: Breaking Dawn       6.383364                 26        $702.17
Monte Carlo                   1.983200                 38         $39.66
Midnight in Paris             8.744706                 93        $148.66

                         Year
Title
New Year's Eve           2011
Twilight: Breaking Dawn  2011
Monte Carlo              2011
Midnight in Paris        2011

In [42]:
print(df1.sort_values(by=["Year","Title"], ascending = False).head(4))

                           Genre       Lead Studio  Audience score %  \
Title
Water For Elephants        Drama  20th Century Fox                72
Waiting For Forever      Romance       Independent                53
Twilight: Breaking Dawn  Romance       Independent                68
Something Borrowed       Romance       Independent                48

                         Profitability  Rotten Tomatoes % Worldwide Gross  \
Title
Water For Elephants           3.081421                 60        $117.09
Waiting For Forever           0.005000                  6          $0.03
Twilight: Breaking Dawn       6.383364                 26        $702.17
Something Borrowed            1.719514                 15         $60.18

                         Year
Title
Water For Elephants      2011
Waiting For Forever      2011
Twilight: Breaking Dawn  2011
Something Borrowed       2011

In [43]:
print(df1.sort_index().head(3))

                       Genre  Lead Studio  Audience score %  Profitability  \
Title
(500) Days of Summer  comedy          Fox                81       8.096000
27 Dresses            Comedy          Fox                71       5.343622
A Dangerous Method     Drama  Independent                89       0.448645

                      Rotten Tomatoes % Worldwide Gross  Year
Title
(500) Days of Summer                 87         $60.72   2009
27 Dresses                           40        $160.31   2008
A Dangerous Method                   79          $8.97   2011

In [44]:
print(df["Genre"])

Title
Zack and Miri Make a Porno            Romance
Youth in Revolt                        Comedy
You Will Meet a Tall Dark Stranger     Comedy
When in Rome                           Comedy
What Happens in Vegas                  Comedy
                                       ...
Across the Universe                   romance
A Serious Man                           Drama
A Dangerous Method                      Drama
27 Dresses                             Comedy
(500) Days of Summer                   comedy
Name: Genre, Length: 77, dtype: object

In [45]:
print(df["Genre"].value_counts())

Comedy       41
Romance      13
Drama        13
Animation     4
Fantasy       1
Romence       1
Comdy         1
Action        1
romance       1
comedy        1
Name: Genre, dtype: int64

In [46]:
print(df[df["Genre"] == "Comedy"])

                                     Genre            Lead Studio  \
Title
Youth in Revolt                     Comedy  The Weinstein Company
You Will Meet a Tall Dark Stranger  Comedy            Independent
When in Rome                        Comedy                 Disney
What Happens in Vegas               Comedy                    Fox
Valentine's Day                     Comedy           Warner Bros.
The Ugly Truth                      Comedy            Independent
The Proposal                        Comedy                 Disney
The Invention of Lying              Comedy           Warner Bros.
The Heartbreak Kid                  Comedy              Paramount
The Back-up Plan                    Comedy                    CBS
She's Out of My League              Comedy              Paramount
Sex and the City Two                Comedy           Warner Bros.
Sex and the City 2                  Comedy           Warner Bros.
Sex and the City                    Comedy           Warner Bros.
Penelope                            Comedy                 Summit
Over Her Dead Body                  Comedy               New Line
Our Family Wedding                  Comedy            Independent
No Reservations                     Comedy           Warner Bros.
Nick and Norah's Infinite Playlist  Comedy                   Sony
Miss Pettigrew Lives for a Day      Comedy            Independent
Marley and Me                       Comedy                    Fox
Mamma Mia!                          Comedy              Universal
Mamma Mia!                          Comedy              Universal
Love & Other Drugs                  Comedy                    Fox
Life as We Know It                  Comedy            Independent
License to Wed                      Comedy           Warner Bros.
Letters to Juliet                   Comedy                 Summit
Leap Year                           Comedy              Universal
Knocked Up                          Comedy              Universal
Just Wright                         Comedy                    Fox
It's Complicated                    Comedy              Universal
I Love You Phillip Morris           Comedy            Independent
High School Musical 3: Senior Year  Comedy                 Disney
He's Just Not That Into You         Comedy           Warner Bros.
Good Luck Chuck                     Comedy              Lionsgate
Going the Distance                  Comedy           Warner Bros.
Ghosts of Girlfriends Past          Comedy           Warner Bros.
Four Christmases                    Comedy           Warner Bros.
Enchanted                           Comedy                 Disney
Beginners                           Comedy            Independent
27 Dresses                          Comedy                    Fox

                                    Audience score %  Profitability  \
Title
Youth in Revolt                                   52       1.090000
You Will Meet a Tall Dark Stranger                35       1.211818
When in Rome                                      44       0.000000
What Happens in Vegas                             72       6.267647
Valentine's Day                                   54       4.184038
The Ugly Truth                                    68       5.402632
The Proposal                                      74       7.867500
The Invention of Lying                            47       1.751351
The Heartbreak Kid                                41       2.129444
The Back-up Plan                                  47       2.202571
She's Out of My League                            60       2.440500
Sex and the City Two                              49       2.883500
Sex and the City 2                                49       2.883500
Sex and the City                                  81       7.221796
Penelope                                          74       1.382800
Over Her Dead Body                                47       2.071000
Our Family Wedding                                49       0.000000
No Reservations                                   64       3.307180
Nick and Norah's Infinite Playlist                67       3.352729
Miss Pettigrew Lives for a Day                    70       0.252895
Marley and Me                                     77       3.746782
Mamma Mia!                                        76       9.234454
Mamma Mia!                                        76       9.234454
Love & Other Drugs                                55       1.817667
Life as We Know It                                62       2.530526
License to Wed                                    55       1.980206
Letters to Juliet                                 62       2.639333
Leap Year                                         49       1.715263
Knocked Up                                        83       6.636402
Just Wright                                       58       1.797417
It's Complicated                                  63       2.642353
I Love You Phillip Morris                         57       1.340000
High School Musical 3: Senior Year                76      22.913136
He's Just Not That Into You                       60       7.153600
Good Luck Chuck                                   61       2.367685
Going the Distance                                56       1.314062
Ghosts of Girlfriends Past                        47       2.044400
Four Christmases                                  52       2.022925
Enchanted                                         80       4.005737
Beginners                                         80       4.471875
27 Dresses                                        71       5.343622

                                    Rotten Tomatoes % Worldwide Gross  Year
Title
Youth in Revolt                                    68         $19.62   2010
You Will Meet a Tall Dark Stranger                 43         $26.66   2010
When in Rome                                       15         $43.04   2010
What Happens in Vegas                              28        $219.37   2008
Valentine's Day                                    17        $217.57   2010
The Ugly Truth                                     14        $205.30   2009
The Proposal                                       43        $314.70   2009
The Invention of Lying                             56         $32.40   2009
The Heartbreak Kid                                 30        $127.77   2007
The Back-up Plan                                   20         $77.09   2010
She's Out of My League                             57         $48.81   2010
Sex and the City Two                               15        $288.35   2010
Sex and the City 2                                 15        $288.35   2010
Sex and the City                                   49        $415.25   2008
Penelope                                           52         $20.74   2008
Over Her Dead Body                                 15         $20.71   2008
Our Family Wedding                                 14         $21.37   2010
No Reservations                                    39         $92.60   2007
Nick and Norah's Infinite Playlist                 73         $33.53   2008
Miss Pettigrew Lives for a Day                     78         $15.17   2008
Marley and Me                                      63        $206.07   2008
Mamma Mia!                                         53        $609.47   2008
Mamma Mia!                                         53        $609.47   2008
Love & Other Drugs                                 48         $54.53   2010
Life as We Know It                                 28         $96.16   2010
License to Wed                                      8         $69.31   2007
Letters to Juliet                                  40         $79.18   2010
Leap Year                                          21         $32.59   2010
Knocked Up                                         91           $219   2007
Just Wright                                        45         $21.57   2010
It's Complicated                                   56        $224.60   2009
I Love You Phillip Morris                          71         $20.10   2010
High School Musical 3: Senior Year                 65        $252.04   2008
He's Just Not That Into You                        42        $178.84   2009
Good Luck Chuck                                     3         $59.19   2007
Going the Distance                                 53         $42.05   2010
Ghosts of Girlfriends Past                         27        $102.22   2009
Four Christmases                                   26        $161.83   2008
Enchanted                                          93        $340.49   2007
Beginners                                          84         $14.31   2011
27 Dresses                                         40        $160.31   2008

In [47]:
released_by_comedy = (df["Genre"] == "Comedy")
print(df[released_by_comedy])

                                     Genre            Lead Studio  \
Title
Youth in Revolt                     Comedy  The Weinstein Company
You Will Meet a Tall Dark Stranger  Comedy            Independent
When in Rome                        Comedy                 Disney
What Happens in Vegas               Comedy                    Fox
Valentine's Day                     Comedy           Warner Bros.
The Ugly Truth                      Comedy            Independent
The Proposal                        Comedy                 Disney
The Invention of Lying              Comedy           Warner Bros.
The Heartbreak Kid                  Comedy              Paramount
The Back-up Plan                    Comedy                    CBS
She's Out of My League              Comedy              Paramount
Sex and the City Two                Comedy           Warner Bros.
Sex and the City 2                  Comedy           Warner Bros.
Sex and the City                    Comedy           Warner Bros.
Penelope                            Comedy                 Summit
Over Her Dead Body                  Comedy               New Line
Our Family Wedding                  Comedy            Independent
No Reservations                     Comedy           Warner Bros.
Nick and Norah's Infinite Playlist  Comedy                   Sony
Miss Pettigrew Lives for a Day      Comedy            Independent
Marley and Me                       Comedy                    Fox
Mamma Mia!                          Comedy              Universal
Mamma Mia!                          Comedy              Universal
Love & Other Drugs                  Comedy                    Fox
Life as We Know It                  Comedy            Independent
License to Wed                      Comedy           Warner Bros.
Letters to Juliet                   Comedy                 Summit
Leap Year                           Comedy              Universal
Knocked Up                          Comedy              Universal
Just Wright                         Comedy                    Fox
It's Complicated                    Comedy              Universal
I Love You Phillip Morris           Comedy            Independent
High School Musical 3: Senior Year  Comedy                 Disney
He's Just Not That Into You         Comedy           Warner Bros.
Good Luck Chuck                     Comedy              Lionsgate
Going the Distance                  Comedy           Warner Bros.
Ghosts of Girlfriends Past          Comedy           Warner Bros.
Four Christmases                    Comedy           Warner Bros.
Enchanted                           Comedy                 Disney
Beginners                           Comedy            Independent
27 Dresses                          Comedy                    Fox

                                    Audience score %  Profitability  \
Title
Youth in Revolt                                   52       1.090000
You Will Meet a Tall Dark Stranger                35       1.211818
When in Rome                                      44       0.000000
What Happens in Vegas                             72       6.267647
Valentine's Day                                   54       4.184038
The Ugly Truth                                    68       5.402632
The Proposal                                      74       7.867500
The Invention of Lying                            47       1.751351
The Heartbreak Kid                                41       2.129444
The Back-up Plan                                  47       2.202571
She's Out of My League                            60       2.440500
Sex and the City Two                              49       2.883500
Sex and the City 2                                49       2.883500
Sex and the City                                  81       7.221796
Penelope                                          74       1.382800
Over Her Dead Body                                47       2.071000
Our Family Wedding                                49       0.000000
No Reservations                                   64       3.307180
Nick and Norah's Infinite Playlist                67       3.352729
Miss Pettigrew Lives for a Day                    70       0.252895
Marley and Me                                     77       3.746782
Mamma Mia!                                        76       9.234454
Mamma Mia!                                        76       9.234454
Love & Other Drugs                                55       1.817667
Life as We Know It                                62       2.530526
License to Wed                                    55       1.980206
Letters to Juliet                                 62       2.639333
Leap Year                                         49       1.715263
Knocked Up                                        83       6.636402
Just Wright                                       58       1.797417
It's Complicated                                  63       2.642353
I Love You Phillip Morris                         57       1.340000
High School Musical 3: Senior Year                76      22.913136
He's Just Not That Into You                       60       7.153600
Good Luck Chuck                                   61       2.367685
Going the Distance                                56       1.314062
Ghosts of Girlfriends Past                        47       2.044400
Four Christmases                                  52       2.022925
Enchanted                                         80       4.005737
Beginners                                         80       4.471875
27 Dresses                                        71       5.343622

                                    Rotten Tomatoes % Worldwide Gross  Year
Title
Youth in Revolt                                    68         $19.62   2010
You Will Meet a Tall Dark Stranger                 43         $26.66   2010
When in Rome                                       15         $43.04   2010
What Happens in Vegas                              28        $219.37   2008
Valentine's Day                                    17        $217.57   2010
The Ugly Truth                                     14        $205.30   2009
The Proposal                                       43        $314.70   2009
The Invention of Lying                             56         $32.40   2009
The Heartbreak Kid                                 30        $127.77   2007
The Back-up Plan                                   20         $77.09   2010
She's Out of My League                             57         $48.81   2010
Sex and the City Two                               15        $288.35   2010
Sex and the City 2                                 15        $288.35   2010
Sex and the City                                   49        $415.25   2008
Penelope                                           52         $20.74   2008
Over Her Dead Body                                 15         $20.71   2008
Our Family Wedding                                 14         $21.37   2010
No Reservations                                    39         $92.60   2007
Nick and Norah's Infinite Playlist                 73         $33.53   2008
Miss Pettigrew Lives for a Day                     78         $15.17   2008
Marley and Me                                      63        $206.07   2008
Mamma Mia!                                         53        $609.47   2008
Mamma Mia!                                         53        $609.47   2008
Love & Other Drugs                                 48         $54.53   2010
Life as We Know It                                 28         $96.16   2010
License to Wed                                      8         $69.31   2007
Letters to Juliet                                  40         $79.18   2010
Leap Year                                          21         $32.59   2010
Knocked Up                                         91           $219   2007
Just Wright                                        45         $21.57   2010
It's Complicated                                   56        $224.60   2009
I Love You Phillip Morris                          71         $20.10   2010
High School Musical 3: Senior Year                 65        $252.04   2008
He's Just Not That Into You                        42        $178.84   2009
Good Luck Chuck                                     3         $59.19   2007
Going the Distance                                 53         $42.05   2010
Ghosts of Girlfriends Past                         27        $102.22   2009
Four Christmases                                   26        $161.83   2008
Enchanted                                          93        $340.49   2007
Beginners                                          84         $14.31   2011
27 Dresses                                         40        $160.31   2008

In [48]:
released_by_comedy = (df["Genre"] == "Comedy")
released_in_2008 = df["Year"] == 2008
print(df[released_by_comedy & released_in_2008])

                                     Genre   Lead Studio  Audience score %  \
Title
What Happens in Vegas               Comedy           Fox                72
Sex and the City                    Comedy  Warner Bros.                81
Penelope                            Comedy        Summit                74
Over Her Dead Body                  Comedy      New Line                47
Nick and Norah's Infinite Playlist  Comedy          Sony                67
Miss Pettigrew Lives for a Day      Comedy   Independent                70
Marley and Me                       Comedy           Fox                77
Mamma Mia!                          Comedy     Universal                76
Mamma Mia!                          Comedy     Universal                76
High School Musical 3: Senior Year  Comedy        Disney                76
Four Christmases                    Comedy  Warner Bros.                52
27 Dresses                          Comedy           Fox                71

                                    Profitability  Rotten Tomatoes %  \
Title
What Happens in Vegas                    6.267647                 28
Sex and the City                         7.221796                 49
Penelope                                 1.382800                 52
Over Her Dead Body                       2.071000                 15
Nick and Norah's Infinite Playlist       3.352729                 73
Miss Pettigrew Lives for a Day           0.252895                 78
Marley and Me                            3.746782                 63
Mamma Mia!                               9.234454                 53
Mamma Mia!                               9.234454                 53
High School Musical 3: Senior Year      22.913136                 65
Four Christmases                         2.022925                 26
27 Dresses                               5.343622                 40

                                   Worldwide Gross  Year
Title
What Happens in Vegas                     $219.37   2008
Sex and the City                          $415.25   2008
Penelope                                   $20.74   2008
Over Her Dead Body                         $20.71   2008
Nick and Norah's Infinite Playlist         $33.53   2008
Miss Pettigrew Lives for a Day             $15.17   2008
Marley and Me                             $206.07   2008
Mamma Mia!                                $609.47   2008
Mamma Mia!                                $609.47   2008
High School Musical 3: Senior Year        $252.04   2008
Four Christmases                          $161.83   2008
27 Dresses                                $160.31   2008

In [49]:
before_2008 = df["Year"] < 2008
print(df[before_2008])

                                       Genre   Lead Studio  Audience score %  \
Title
Waitress                             Romance   Independent                67
Tyler Perry's Why Did I get Married  Romance   Independent                47
The Heartbreak Kid                    Comedy     Paramount                41
P.S. I Love You                      Romance   Independent                82
No Reservations                       Comedy  Warner Bros.                64
Music and Lyrics                     Romance  Warner Bros.                70
License to Wed                        Comedy  Warner Bros.                55
Knocked Up                            Comedy     Universal                83
Good Luck Chuck                       Comedy     Lionsgate                61
Enchanted                             Comedy        Disney                80
Across the Universe                  romance   Independent                84

                                     Profitability  Rotten Tomatoes %  \
Title
Waitress                                 11.089742                 89
Tyler Perry's Why Did I get Married       3.724192                 46
The Heartbreak Kid                        2.129444                 30
P.S. I Love You                           5.103117                 21
No Reservations                           3.307180                 39
Music and Lyrics                          3.647411                 63
License to Wed                            1.980206                  8
Knocked Up                                6.636402                 91
Good Luck Chuck                           2.367685                  3
Enchanted                                 4.005737                 93
Across the Universe                       0.652603                 54

                                    Worldwide Gross  Year
Title
Waitress                                    $22.18   2007
Tyler Perry's Why Did I get Married         $55.86   2007
The Heartbreak Kid                         $127.77   2007
P.S. I Love You                            $153.09   2007
No Reservations                             $92.60   2007
Music and Lyrics                           $145.90   2007
License to Wed                              $69.31   2007
Knocked Up                                    $219   2007
Good Luck Chuck                             $59.19   2007
Enchanted                                  $340.49   2007
Across the Universe                         $29.37   2007

In [52]:
mid_10s = df1["Year"].between(2007, 2010)
print(df1[mid_10s])

                                      Genre            Lead Studio  \
Title
Zack and Miri Make a Porno          Romance  The Weinstein Company
Youth in Revolt                      Comedy  The Weinstein Company
You Will Meet a Tall Dark Stranger   Comedy            Independent
When in Rome                         Comedy                 Disney
What Happens in Vegas                Comedy                    Fox
...                                     ...                    ...
Dear John                             Drama                   Sony
Across the Universe                 romance            Independent
A Serious Man                         Drama              Universal
27 Dresses                           Comedy                    Fox
(500) Days of Summer                 comedy                    Fox

                                    Audience score %  Profitability  \
Title
Zack and Miri Make a Porno                        70       1.747542
Youth in Revolt                                   52       1.090000
You Will Meet a Tall Dark Stranger                35       1.211818
When in Rome                                      44       0.000000
What Happens in Vegas                             72       6.267647
...                                              ...            ...
Dear John                                         66       4.598800
Across the Universe                               84       0.652603
A Serious Man                                     64       4.382857
27 Dresses                                        71       5.343622
(500) Days of Summer                              81       8.096000

                                    Rotten Tomatoes % Worldwide Gross  Year
Title
Zack and Miri Make a Porno                         64         $41.94   2008
Youth in Revolt                                    68         $19.62   2010
You Will Meet a Tall Dark Stranger                 43         $26.66   2010
When in Rome                                       15         $43.04   2010
What Happens in Vegas                              28        $219.37   2008
...                                               ...             ...   ...
Dear John                                          29        $114.97   2010
Across the Universe                                54         $29.37   2007
A Serious Man                                      89         $30.68   2009
27 Dresses                                         40        $160.31   2008
(500) Days of Summer                               87         $60.72   2009

[63 rows x 7 columns]

In [59]:
movies = pd.read_csv("movies_1.csv", index_col="Title")
print(movies)

                              Rank           Studio       Gross  Year
Title
Avengers: Endgame                1      Buena Vista  $2,796.30   2019
Avatar                           2              Fox  $2,789.70   2009
Titanic                          3        Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4      Buena Vista  $2,068.20   2015
Avengers: Infinity War           5      Buena Vista  $2,048.40   2018
...                            ...              ...         ...   ...
Yogi Bear                      778  Warner Brothers    $201.60   2010
Garfield: The Movie            779              Fox    $200.80   2004
Cats & Dogs                    780  Warner Brothers    $200.70   2001
The Hunt for Red October       781        Paramount    $200.50   1990
Valkyrie                       782              MGM    $200.30   2008

[782 rows x 4 columns]

In [55]:
has_dark_in_title = movies.index.str.lower().str.contains("dark")
print(movies[has_dark_in_title])

                                     Genre  Lead Studio  Audience score %  \
Title
You Will Meet a Tall Dark Stranger  Comedy  Independent                35

                                    Profitability  Rotten Tomatoes %  \
Title
You Will Meet a Tall Dark Stranger       1.211818                 43

                                   Worldwide Gross  Year
Title
You Will Meet a Tall Dark Stranger         $26.66   2010

In [62]:
print(movies["Gross"].str.replace(
             "$", "", regex = False
         ).str.replace(",", "", regex = False)
     )

Title
Avengers: Endgame               2796.30
Avatar                          2789.70
Titanic                         2187.50
Star Wars: The Force Awakens    2068.20
Avengers: Infinity War          2048.40
                                  ...
Yogi Bear                        201.60
Garfield: The Movie              200.80
Cats & Dogs                      200.70
The Hunt for Red October         200.50
Valkyrie                         200.30
Name: Gross, Length: 782, dtype: object

In [63]:
print(movies["Gross"].str.replace(
             "$", "", regex = False
         )
     )

Title
Avengers: Endgame               2,796.30
Avatar                          2,789.70
Titanic                         2,187.50
Star Wars: The Force Awakens    2,068.20
Avengers: Infinity War          2,048.40
                                  ...
Yogi Bear                         201.60
Garfield: The Movie               200.80
Cats & Dogs                       200.70
The Hunt for Red October          200.50
Valkyrie                          200.30
Name: Gross, Length: 782, dtype: object

In [64]:
print((
             movies["Gross"]
            .str.replace("$", "", regex = False)
            .str.replace(",", "", regex = False)
            .astype(float)
         ))

Title
Avengers: Endgame               2796.3
Avatar                          2789.7
Titanic                         2187.5
Star Wars: The Force Awakens    2068.2
Avengers: Infinity War          2048.4
                                 ...
Yogi Bear                        201.6
Garfield: The Movie              200.8
Cats & Dogs                      200.7
The Hunt for Red October         200.5
Valkyrie                         200.3
Name: Gross, Length: 782, dtype: float64

In [65]:
print(movies["Gross"].mean())

TypeError: Could not convert $2,796.30 $2,789.70 $2,187.50 $2,068.20 $2,048.40 $1,671.70 $1,518.80 $1,516.00 $1,405.40 $1,346.90 $1,341.70 $1,332.50 $1,309.50 $1,276.50 $1,263.50 $1,242.80 $1,236.00 $1,214.80 $1,159.40 $1,153.30 $1,148.00 $1,128.30 $1,123.80 $1,119.90 $1,108.60 $1,104.10 $1,084.90 $1,067.00 $1,066.20 $1,056.10 $1,045.70 $1,034.80 $1,029.50 $1,028.60 $1,027.00 $1,025.50 $1,023.80 $1,021.10 $1,004.90 $975.10 $970.80 $968.50 $966.60 $963.40 $962.10 $960.40 $958.40 $956.00 $940.30 $940.00 $934.50 $926.00 $919.80 $903.70 $897.10 $890.90 $886.70 $880.70 $880.20 $880.20 $879.20 $877.20 $875.50 $873.60 $871.50 $870.30 $865.00 $863.80 $857.60 $855.00 $854.00 $848.80 $836.30 $829.70 $828.30 $821.80 $821.70 $817.40 $814.00 $807.10 $799.00 $796.90 $794.90 $792.90 $791.10 $788.70 $786.60 $785.00 $783.80 $783.10 $775.40 $773.30 $769.70 $758.50 $758.20 $757.90 $755.40 $752.60 $747.90 $746.90 $746.80 $745.00 $744.20 $742.10 $735.10 $723.20 $714.30 $712.20 $710.60 $709.70 $709.70 $709.00 $700.40 $699.80 $698.50 $694.70 $694.40 $682.70 $677.90 $677.70 $677.50 $672.80 $668.00 $665.70 $660.90 $657.90 $657.80 $654.30 $653.80 $653.40 $649.40 $644.60 $643.30 $634.20 $633.00 $631.70 $630.20 $626.10 $624.40 $624.00 $623.90 $622.70 $621.50 $620.70 $619.00 $618.60 $611.90 $609.90 $609.00 $605.40 $603.90 $599.00 $591.80 $591.70 $589.40 $587.20 $586.80 $586.10 $585.30 $585.20 $582.90 $579.20 $577.40 $574.50 $571.00 $566.70 $563.70 $562.10 $555.00 $553.80 $553.70 $550.50 $549.40 $547.40 $546.40 $545.40 $544.30 $544.10 $543.90 $543.50 $543.10 $540.40 $540.00 $538.40 $533.30 $533.00 $532.70 $530.20 $529.30 $529.10 $528.60 $528.00 $527.10 $526.90 $524.00 $521.20 $520.90 $519.80 $519.80 $519.30 $516.60 $511.60 $505.70 $504.10 $500.10 $497.40 $497.40 $494.90 $494.50 $493.30 $493.30 $493.20 $490.70 $485.90 $484.60 $484.60 $484.40 $482.30 $481.80 $478.20 $476.70 $475.10 $475.00 $474.80 $474.20 $474.00 $471.20 $470.70 $469.20 $468.00 $467.50 $467.40 $463.50 $463.40 $463.40 $462.20 $460.60 $459.40 $457.70 $457.40 $456.80 $456.10 $450.70 $449.30 $449.20 $448.20 $446.10 $443.10 $442.80 $441.80 $441.80 $441.30 $441.30 $440.60 $435.00 $434.90 $433.70 $433.40 $433.00 $432.00 $429.60 $428.00 $427.50 $427.30 $426.60 $425.40 $425.00 $424.20 $419.70 $415.90 $415.70 $415.50 $415.30 $414.80 $414.40 $414.20 $413.10 $411.50 $411.00 $411.00 $410.90 $409.20 $408.60 $408.20 $407.70 $404.90 $403.40 $402.40 $401.10 $400.10 $397.90 $396.60 $396.20 $395.00 $393.60 $392.90 $392.00 $391.10 $390.50 $389.90 $389.70 $386.00 $385.70 $385.30 $384.30 $383.90 $383.50 $383.30 $381.50 $381.50 $381.10 $379.00 $378.90 $378.90 $378.10 $377.90 $376.10 $375.70 $375.50 $374.20 $374.10 $374.00 $373.60 $373.10 $373.00 $372.20 $371.90 $371.40 $370.60 $370.50 $369.90 $369.30 $368.90 $368.80 $368.70 $368.10 $367.30 $366.10 $365.60 $364.10 $363.90 $363.30 $363.20 $363.20 $362.70 $362.60 $362.20 $362.00 $361.80 $361.70 $361.30 $359.10 $359.00 $358.40 $358.40 $358.00 $356.80 $356.70 $356.30 $355.20 $354.80 $353.60 $353.60 $352.90 $352.80 $352.30 $352.20 $352.10 $351.80 $351.70 $351.70 $351.60 $351.30 $350.40 $349.80 $349.50 $349.50 $348.80 $348.30 $347.50 $347.50 $347.30 $347.20 $346.90 $346.10 $346.10 $345.10 $343.50 $342.70 $341.60 $341.40 $340.90 $340.50 $337.60 $336.60 $336.40 $336.00 $335.30 $335.10 $334.90 $334.90 $333.90 $333.10 $333.00 $332.20 $332.00 $331.30 $330.60 $330.40 $329.80 $329.40 $328.70 $328.20 $327.30 $326.60 $326.50 $325.30 $325.30 $325.20 $322.10 $321.90 $321.70 $321.70 $321.50 $320.70 $320.40 $320.30 $320.10 $319.70 $319.50 $317.40 $316.40 $315.20 $315.00 $314.40 $314.20 $313.50 $312.30 $312.20 $312.00 $312.00 $311.40 $311.30 $310.70 $310.00 $309.50 $309.50 $309.20 $307.20 $307.10 $306.90 $306.90 $306.80 $306.50 $305.90 $305.30 $304.90 $304.70 $304.70 $304.30 $303.10 $303.00 $302.90 $302.70 $302.50 $300.90 $300.50 $300.50 $300.40 $300.30 $300.20 $300.10 $300.00 $299.50 $299.30 $299.30 $297.70 $297.30 $297.10 $297.00 $296.70 $296.50 $296.30 $296.10 $295.20 $294.80 $294.50 $293.50 $292.80 $291.50 $291.40 $290.90 $289.30 $289.00 $288.90 $288.80 $288.50 $288.40 $288.30 $288.30 $287.90 $287.60 $287.60 $287.50 $286.80 $286.20 $286.10 $285.40 $285.20 $284.10 $282.60 $281.90 $278.50 $278.30 $278.00 $277.40 $277.30 $276.10 $275.70 $275.70 $275.30 $274.70 $274.70 $274.50 $274.30 $274.00 $273.60 $273.30 $273.10 $272.70 $271.40 $270.70 $270.20 $270.00 $270.00 $269.80 $268.40 $268.20 $268.00 $267.40 $267.00 $266.90 $266.70 $266.60 $266.50 $264.20 $264.10 $264.10 $263.90 $263.40 $262.80 $262.50 $261.90 $261.60 $261.30 $261.20 $260.70 $260.50 $260.10 $259.40 $259.20 $259.20 $258.00 $257.90 $257.00 $256.70 $256.30 $256.30 $255.50 $255.40 $255.00 $254.70 $254.20 $254.20 $254.10 $253.60 $252.90 $252.70 $252.30 $251.20 $251.20 $250.80 $250.60 $250.40 $250.30 $249.50 $249.30 $248.60 $248.10 $247.30 $247.00 $247.00 $246.90 $246.60 $246.20 $245.70 $245.70 $245.70 $245.60 $245.50 $245.40 $245.10 $245.10 $245.10 $244.90 $244.80 $244.50 $244.40 $243.80 $243.20 $243.00 $242.90 $242.80 $242.70 $242.70 $242.30 $242.00 $240.90 $240.90 $240.80 $240.00 $240.00 $239.60 $239.30 $238.50 $238.20 $237.70 $237.40 $237.20 $237.10 $236.40 $236.40 $236.00 $236.00 $235.90 $235.90 $235.70 $235.50 $235.00 $234.80 $234.80 $233.60 $233.10 $232.60 $232.30 $232.00 $231.60 $231.40 $231.40 $230.90 $230.70 $230.40 $229.90 $229.70 $229.20 $229.10 $228.70 $228.10 $227.90 $227.90 $227.80 $227.50 $227.30 $226.90 $226.90 $226.80 $226.50 $226.30 $225.90 $225.90 $225.90 $224.90 $224.80 $224.00 $223.70 $223.40 $223.20 $222.80 $222.70 $222.40 $222.20 $222.10 $221.60 $221.30 $220.90 $220.80 $220.70 $220.00 $219.90 $219.40 $219.40 $219.10 $219.10 $218.80 $218.60 $218.30 $217.80 $217.80 $217.10 $217.00 $216.80 $216.70 $216.60 $216.60 $216.50 $216.20 $215.90 $215.90 $215.90 $215.70 $215.40 $215.30 $215.30 $214.90 $214.70 $214.60 $214.10 $214.10 $214.10 $214.00 $214.00 $213.90 $213.70 $213.50 $213.20 $213.10 $212.90 $212.70 $212.40 $212.40 $212.00 $212.00 $212.00 $211.80 $211.80 $211.80 $211.70 $211.30 $211.30 $210.80 $210.30 $209.90 $209.60 $209.20 $209.20 $209.10 $208.30 $208.10 $207.70 $207.50 $207.30 $207.00 $206.70 $206.10 $205.80 $205.80 $205.60 $205.40 $205.40 $205.30 $205.10 $205.00 $205.00 $204.60 $203.60 $203.40 $203.40 $203.40 $203.30 $202.50 $202.40 $202.30 $202.00 $202.00 $202.00 $201.60 $201.60 $201.60 $200.80 $200.70 $200.50 $200.30  to numeric

In [67]:
studios = movies.groupby("Studio")
print(studios["Gross"].count().head())

Studio
Artisan                     1
Buena Vista               125
CL                          1
China Film Corporation      1
Columbia                    5
Name: Gross, dtype: int64

In [68]:
print(studios["Gross"].count().sort_values(ascending = False).head())

Studio
Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Name: Gross, dtype: int64

In [69]:
print(studios["Gross"].sum().head())

Studio
Artisan                                                            $248.60
Buena Vista               $2,796.30 $2,068.20 $2,048.40 $1,518.80 $1,405...
CL                                                                 $228.10
China Film Corporation                                             $699.80
Columbia                           $306.90 $295.20 $243.20 $215.90 $215.40
Name: Gross, dtype: object